---
layout: splash
author_profile: false
title: "The Mortimer Lab"
excerpt: University of Georgia
header:
    overlay_image: /assets/images/website_header.png
gallery:
  - url: /assets/images/2024-07_lab_photo.jpg
    image_path: /assets/images/2024-07_lab_photo.jpg
    alt: "Lab photo in PDRC lobby with Shanita, Brittany, Tatum, Lindsey, and Farah (left to right)"
    title: "Mortimer Lab: Summer 2024"
  - url: /assets/images/2025-10_lab_photo.jpg
    image_path: /assets/images/2025-10_lab_photo.jpg
    alt: "Shanita, Pavani, Jamie, Tatum, Brittany, and Ivan (left to right) in PDRC lobby"
    title: "Mortimer Lab: Fall 2025"
  - url: /news/SEBASM
    image_path: /assets/images/2025-11_ASM_lab.jpg
    alt: "Ivan, Pavani, Jamie, Shanita, and Tatum (left to right) at SEB-ASM"
    title: "Lab photo at the Southeastern Branch Meeting of the American Society for Microbiology"
---

{% include gallery caption="**Lab Photos**" layout="third" class = "full" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
