---
layout: splash
author_profile: false
title: "The Mortimer Lab"
excerpt: University of Georgia
header:
    overlay_image: /assets/images/website_header.png
gallery:
  - url: /assets/images/2024-07_lab_photo.jpg
    image_path: /assets/images/2024-07_lab_photo.jpg
    alt: "Lab photo in PDRC lobby with Shanita, Brittany, Tatum, Lindsey, and Farah (left to right)"
    title: "Mortimer Lab: Summer 2024"
  - url: /news/volunteer/
    image_path: /assets/images/2025-01_lab_volunteer.jpg
    alt: "Pavani, Kim, Oliva, Tatum, and Shanita (left to right) at volunteer site"
    title: "Volunteering at Athens MLK Day of Service"
  - url: /news/GVSP
    image_path: /assets/images/2024_GVSP_symposium.jpg
    alt: "Lindsey stands at podium presenting her research"
    title: "Lindsey presenting at the GVSP Symposium"
---

{% include gallery caption="**Lab Photos**" layout="half" class = "full" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
